.weather-dashboard{
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin :20px;
}
img{
    width: 40px;
}
.detail-card{
    background-color: #444444;
    padding: 16px;
    border-radius: 12px;
    margin: 20px;
    box-shadow: #000 5px 5px;
    min-height: 260px;
}
.loc-date-detail{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loc-date-detail .time{
    font-size: 44px;
    gap: 0;
    line-height: 1.2;
    font-weight: bold;
}
.loc-date-detail .day-date{
    line-height: 0;
    gap: 0;
}
.weather-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.sun-temp{
    width: 400px;
}
.temp-detail h1{
    font-size: 49px;
    line-height: 0;
}
.temp-detail p{
    font-size: 16px;
}
.temp-detail span{
    font-size: 34px;
    font-weight: bold;
}
.sun-details{
    display: flex;
    align-items: center;
    margin: 10px;
}
.sun-details p{
    line-height: 0.6;
    margin-left: 10px;
}
.weather-descp{
    width: 240px;
    margin: 20px;
    text-align: center;
}
.weather-descp p{
    font-size: 24px;
    font-weight: 600;
}
.weather-descp img{
    width: 140px;
}
.weather-extra{
    display: flex;
    flex-wrap: wrap;
}
.weather-extra .other-detail{
    width: 120px;
    margin: 10px;
    text-align: center;
}
.weather-icon{
    font-size: 28px;
}
.other-detail p{
    font-size: 16px;
}
.five-day-details{
    width: 25%;
    text-align: center;
}
.forecast-detail{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.hourly-details{
    width: 50%;
    text-align: center;
}
.hour-detail{
    display: flex;
}
.hour-forecast{
    background-color: #373636;
    opacity: 1;
    border-radius: 30px;
    padding: 8px;
    text-align: center;
    width: 120px;
    margin: 0px 10px 0px 10px;
}
.hour-forecast h2{
    font-size: 18px;
}
.hour-forecast p{
    font-size: 14px;
    font-weight: 600;
}